{% extends "base.html" %}
{% load bootstrap4 %}


{% block main %}
<h1>Stock</h1>


{% if store_hall %}
<h2>Goods list in Store</h2>
<ul>
    {% for storage in store_hall %}
    <li>{{ storage }}</li>
        <ul>
            {% for product in storage.store_hall.all %}
            <li>
                <a href="{% url 'good_card' product.id %}"> {{ product }}</a>
            </li>
            {% endfor %}
        </ul>


    {% endfor %}
</ul>
{% endif %}


{% if store_hall %}
<h2>Goods list in Back</h2>
<ul>
    {% for storage in store_back %}
    <li>{{ storage }}</li>
        <ul>
            {% for product in storage.store_back.all %}
            <li>
                <a href="{% url 'good_card' product.id %}"> {{ product }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endif %}


{% if store_hall %}
<h2>Goods list in second floor</h2>
<ul>
    {% for storage in store_up %}
    <li>{{ storage }}</li>
        <ul>
            {% for product in storage.store_up.all %}
            <li>
                <a href="{% url 'good_card' product.id %}"> {{ product }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endif %}


<!--<h2>Goods list in stock</h2>-->
<!--<ul>-->
<!--    {% for i in object_list %}-->
<!--    <li>{{ i }}</li>-->
<!--        <ul>-->
<!--            {% for w in i.goodsmodel_set.all %}-->
<!--            <li>-->
<!--                <a href="{% url 'good_card' w.id %}"> {{ w }}</a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!---->
<!---->
{% endblock%}
