{% extends "base.html" %}
{% load bootstrap4 %}


{% block main %}

<h1 class="my-4">List of goods</h1>

<a class="text-black" href="{% url 'create_good' %}">Create good</a>


<a class="container">
{% for good in object_list %}



  <a href="{% url 'good_card' pk=good.id %}" class="text-black text-decoration-none"><div class="row align-items-center">
    <div class="col" >
        <img src="{{ good.images.url }}" class="rounded float-left" alt="Responsive image" style="max-height:150px">
    </div>
    <div class="col">
        <div class="row p-1">

            <div class="col">
                Name
            </div>

            <div class="col">
                {{ good.name }}
            </div>
        </div>
        <div class="row p-1">

            <div class="col">
                Wholesale price
            </div>

            <div class="col">
                {% if good.wholesale_price %}
                {{ good.wholesale_price }} ₼
                {% else %}
                ---
                {% endif %}

            </div>
        </div>

        <div class="row p-1">

            <div class="col">
                Retail price
            </div>

            <div class="col">
                {% if good.retail_price %}
                {{ good.retail_price }} ₼
                {% else %}
                ---
                {% endif %}
            </div>
        </div>

        <div class="row p-1">

            <div class="col">
                Store stock
            </div>

            <div class="col">
                {% if good.stock.all %}
                {% for i in good.stock.all %}
                {{ i }}
                {% endfor %}
                {% else %}
                ---
                {% endif %}
            </div>
        </div>
    </div>
</div></a>
    <hr>
{% endfor %}
{% endblock%}
