{% extends "base.html" %}
{% load bootstrap4 %}


{% block main %}


<div class="card">
    <div class="card-header bg-light text-black">
        <h1 class="mb-4">{{ object }}</h1>
    </div>

    <img src="{{ object.images.url }}" class="rounded d-block mx-auto" alt="Responsive image" style="max-height:250px">


    <div class="card-body bg-light">
        <hr>

        <div class="container">
            <div class="row p-1">

                <div class="col">
                    Cost price
                </div>

                <div class="col">
                    {% if object.cost_price %}
                    {{ object.cost_price }} ¥
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    Wholesale price
                </div>

                <div class="col">
                    {% if object.wholesale_price %}
                    {{ object.wholesale_price }} ₼
                    {% else %}
                    ---
                    {% endif %}

                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    Retail price
                </div>

                <div class="col">
                    {% if object.retail_price %}
                    {{ object.retail_price }} ₼
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    Weight
                </div>

                <div class="col">
                    {% if object.weight %}
                    {{ object.weight }} kg
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>

            <hr>
            <div class="row p-1">

                <div class="col">
                    Store stock
                </div>

                <div class="col">
                    {% if object.stock.all %}
                    {% for i in object.stock.all %}
                    {{ i }}
                    {% endfor %}
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>


            <hr>
            <div class="row p-1">

                <div class="col">
                    Order info
                </div>

                <div class="col">
                    <dl class="row p-1">
                        <dt class="col">Date</dt>
                        <dt class="col"> Count</dt>
                        <dt class="col">Cost price</dt>
                        <dt class="col"></dt>
                    </dl>



                    {% for i in object.countgoods_set.all %}
                    <dl class="row p-0.5">
                        <dd class="col">{{ i.datetime }}</dd>
                        <dd class="col">{{ i.count }}</dd>
                        <dd class="col">{{ i.cost_price }} ¥</dd>
                        <dd class="col">
                            <a href="{% url 'update_count' pk=object.id %}">Update</a>
                            <a href="{% url 'update_count' pk=object.id %}">Delete</a>
                        </dd>
                    </dl>
                    {% endfor %}
                </div>
            </div>

            <div>
                <a href="{% url 'add_goods' pk=object.id %}">Add count</a>
                <br>

                <a href="{% url 'update_good' pk=object.id %}">Update</a>

                <br>
                <a href="{% url 'delete_good' pk=object.id %}">Delete</a>


            </div>
        </div>
    </div>
</div>


{% endblock%}
