{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block main %}


<div class="card">
    <div class="card-header bg-light text-black">
        <div class="nav-item d-flex justify-content-sm-between w-100">
            <div class="d-flex">
                <h1 class="mb-4">{{ object }}</h1>
            </div>
            <div class="d-flex row p-1">
                <button class="btn btn-primary mb-1">
                    <a class="text-white text-decoration-none" href="{% url 'update_good' pk=object.id %}">Update</a>
                </button>
                <button class="btn btn-danger mb-1">
                    <a class="text-white text-decoration-none" href="{% url 'delete_good' pk=object.id %}">Delete</a>
                </button>
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-success mb-1">
            <a class="text-white text-decoration-none" href="{% url 'add_image' pk=object.id %}">Add Foto</a>
        </button>
    </div>
    <div class="col" >
        {% if object.imagemodel_set.all %}
        {% for i in object.imagemodel_set.all %}
        <a href="{{ i.images.url }}">
            <img src="{{ i.images.url }}" class="rounded d-block mx-auto" alt="Responsive image" style="max-height:250px">
        </a>
        {% endfor %}
        {% else %}
        <div>
            <img src="{% static 'goods_map/image_not_found.png' %}" class="rounded d-block mx-auto" alt="Responsive image" style="max-height:250px">
        </div>
        {% endif %}
    </div>

    <div class="card-body bg-light">
        <hr>

        <div class="container">
            <div class="row p-1">

                <div class="col">
                    Cost price
                </div>

                <div class="col">
                    {% if object.cost_price %}
                    {{ object.cost_price }} ¥
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    Wholesale price
                </div>

                <div class="col">
                    {% if object.wholesale_price %}
                    {{ object.wholesale_price }} ₼
                    {% else %}
                    ---
                    {% endif %}

                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    Retail price
                </div>

                <div class="col">
                    {% if object.retail_price %}
                    {{ object.retail_price }} ₼
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    Weight
                </div>

                <div class="col">
                    {% if object.weight %}
                    {{ object.weight }} kg
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>

            <hr>

            <div class="row p-1">
                <div class="col">
                    Market stock
                </div>

                <div class="col">
                    {% if object.store_hall or object.store_back or object.store_up %}
                        <div class="col">
                            {% if object.store_hall %}
                                {{ object.store_hall }}
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if object.store_back %}
                                {{ object.store_back }}
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if object.store_up %}
                                {{ object.store_up }}
                            {% endif %}
                        </div>

                    {% else %}
                    ---
                    {% endif %}
                    <hr>
                </div>
            </div>


            <div class="row p-1">
                <div class="col">
                    Store stock
                </div>

                <div class="col">
                    {% if object.stock.all %}
                    {% for i in object.stock.all %}
                    {{ i }}
                    {% endfor %}
                    {% else %}
                    ---
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mb-3">
                    <a class="text-white text-decoration-none" href="{% url 'add_storage' object.id %}">Change storage</a>
                </button>
            </div>



            <hr>
            <div class="row p-1">

                <div class="col">
                    Order info
                </div>

                <div class="col">
                    <dl class="row p-1">
                        <dt class="col">Date</dt>
                        <dt class="col"> Count</dt>
                        <dt class="col">Cost price</dt>
                        <dt class="col"></dt>
                    </dl>



                    {% for i in object.countgoods_set.all %}
                    <dl class="row p-0.5">
                        <dd class="col">{{ i.datetime }}</dd>
                        <dd class="col">{{ i.count }}</dd>
                        <dd class="col">{{ i.cost_price }} ¥</dd>
                        <dd class="col">
                            <a href="{% url 'update_count' pk=object.id %}">Update</a>
                            <a href="{% url 'update_count' pk=object.id %}">Delete</a>
                        </dd>
                    </dl>
                    {% endfor %}
                </div>
            </div>

            {% if request.user.is_superuser %}
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mb-3">
                        <a class="text-white text-decoration-none" href="{% url 'add_goods' pk=object.id %}">Add count</a>
                    </button>
                </div>

            {% endif %}
        </div>
    </div>
</div>


{% endblock%}
