<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track stock</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
  <body class="d-flex flex-column min-vh-100">




  {% include 'headers.html' %}
  <div class="container wrapper flex-grow-1">


        {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} container wrapper d-flex justify-content-between" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}


            {% block main %}{% endblock %}
     </div>

  </body>
</html>